body{
    background-color: #1e1e2e;
}

.website-name {
font-size: 40px;
color: #7289da; 
text-align: center;
margin: 20px 10px;
font-weight: bold;
}

.tagline {
font-size: 32px;
color: #CCCCCC;
margin: 0px 0px 80px 0px ;
text-align: center;

}


.container {
background-color: #2c2f33;
border-radius: 5px;
width: 600px;
height: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content:flex-start;
position: relative; 
padding-top: 20px;
}

h1 {
color: white;
margin-bottom: 60px;
text-align: center;

}

.form-control {
padding-left: 20px;
width: 25rem;
margin-bottom: 30px;
}

.btn {
margin-left: 150px;
margin-top: 20px;
padding: 8px 30px;

}

.new {
position: absolute;
bottom: 10px;
right: 20px;
color: white;
font-size: 1rem;
cursor: pointer;
}


